/HelloWorld/nbproject/private/
/HelloWorld/build/
/Test/nbproject/private/
/Test/build/
/TotalPriceCalculator/nbproject/private/
/TotalPriceCalculator/build/
/Assignment01/PersonalInfo/nbproject/private/
/Assignment01/PersonalInfo/build/
/Assignment01/PriceCalculator/nbproject/private/
/Assignment01/PriceCalculator/build/